[Unit]
Description=check on battery every minute to warn the user in case of low battery

[Timer]
OnActiveSec=1sec
OnUnitActiveSec=1sec

[Install]
WantedBy=timers.target

